<div class="loginForm col-md-12">
    <div id="account" class="logged-out-account">
        <div class="loggedout-form-header-logo">
            <img class="img-responsive" src="{{ global_en_config.environment.s3_uploads_url ~ '/images/logout/All_Aboard_Ticket_to_RichesLogo.png' }}"/>
        </div>
        <div class="loggedout-form-header-logo">
            <img class="img-responsive" src="{{ global_en_config.environment.s3_uploads_url ~ '/images/logout/fortunecup_loggedoutpage_konamilogo.png' }}"/>
        </div>
        <form class="loginFormOverride" id="dologin" method="get" autocomplete="off">
            <div class="row transparent centerMarginMagic">
                <div class="col-md-12">
                    <h2 class="goCenter logoutFormTitle">{{ 'fzone.me.logout.title'|trans({}, 'frontend')|raw }}</h2>
                    <div class="input-group">
                        <input class="form-control logged-out-field" type="text" name="username" placeholder="{{ 'fzone.me.logout.placeholders.username'|trans({}, 'frontend') }}"/>
                        <span class="input-group-addon" data-toggle="lbxtooltip" data-placement="left" title="{{ 'fzone.me.logout.titles.username'|trans({}, 'frontend') }}">
                            <span class="far fa-at" aria-hidden="true"></span>
                        </span>
                    </div>

                    <div class="input-group">
                        <input class="form-control logged-out-field" type="password" name="password" placeholder="{{ 'fzone.me.logout.placeholders.password'|trans({}, 'frontend') }}"/>
                        <span class="input-group-addon forgotpassword1 showCursor" data-toggle="lbxtooltip" data-placement="left" title="{{ 'fzone.me.logout.titles.forgotpassword'|trans({}, 'frontend') }}">
                            <span class="fas fa-key" data-gtm-dimension="Logout/Forgot_Password_Icon"></span>
                        </span>
                    </div>

                    <div class="row goCenter">
                        <div class="col-xs-6">
                            <div class="forgotpassword1">
                                <a class="logout-links">{{ 'fzone.me.logout.forgotpassword'|trans({}, 'frontend') }}</a>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="logout-modal-help-page1" data-gtm-dimension="Logout/Sitefeedback">
                                <a class="logout-links">Need Help?</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="loginButtonWrapper">
                                <button type="submit" class="loginBtn modal-button-style" data-gtm-dimension="Login">{{ 'fzone.me.logout.login'|trans({}, 'frontend') }}</button>
                            </div>
                            <div class="loginButtonWrapper">
                                <button type="button" data-gtm-dimension="Register" class="onregister modal-button-style">{{ 'fzone.me.logout.register'|trans({}, 'frontend') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="embed" value="login.register"/>
            <input type="hidden" name="submit" value="true"/>
            <input type="hidden" name="redirect" value="{{ returnlogreg }}"/>
            <input type="hidden" name="action" value="login"/>
        </form>
        <div class="clearBoth"></div>
    </div>
</div>
<script>
    EngagedNation.RequireJS.require(["jquery_1_10"], function ($) {
        $(function () {
            $('body').css('padding-bottom', 0);
        })
    })
</script>
